@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

.leftSide {
    padding: 10px;

    .mainContent {
        margin-top: 20px;

        a {
            font-family: 'Noto Sans', sans-serif;
        }
    }

    small {
        color: #868686;
    }

    thead {

        th {
            color: #8E8E8E;
        }
    }

    .table-pagination {

        svg {
            color: white;
        }
    }
}